@import '../../../Assets/sass/index.scss';
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 41%;
  }
  100% {
    background-position: 0% 60%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 41%;
  }
  100% {
    background-position: 0% 60%;
  }
}
.photo_content {
  background: linear-gradient(
    234deg,
    #c060a1,
    #f1d4d4,
    #4f3b78,
    #c996cc,
    #864879,
    #d6c5f0,
    #6a097d,
    #c4bbf0,
    #800080,
    #eabfff,
    #3c005a,
    #d580ff
  );
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;

  width: 100%;
  height: 100%;
  font-size: 22px;
  @include flexWithGap(row, 8px, flex-start);
  justify-content: flex-start;
  & > div {
    width: calc(33% - 4px);
    @include flexWithGap(column, 8px, flex-start);
    overflow: hidden;
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
    figure {
      width: 100%;
      height: max-content;
      overflow: hidden;
      aspect-ratio: 1/1;
      &:nth-child(2) {
        aspect-ratio: 1/2;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        transition: all 0.5s;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
          transform: scale(1.3);
          overflow: hidden;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .photo_content {
    margin-left: 0;
    & > div {
      width: calc(50% - 4px);
    }
  }
}
