$color-primary: #161616;
$color-primary-contrast: #f1d4d4;
$color-primary-light: #6a097d;
$color-text-primary: #1a1a1c;
$color-text-secondary: #eeeeee;
$color-text-secondary-dark: #666;
$color-text-secondary-light: #ccc;
$color-bg: #fafbfd;
$color-error: #c84b31;
